.custom-navbar {
    background-color: #6d9eff; /* Custom Blue */
}

.custom-button {
    background-color: rgb(128, 128, 128);
}

.custom-button:hover {
    background-color: rgb(162, 162, 162);
}

.custom-font{
    font-size: 130%;
}

.logo-image{
    height:100%;
    position:absolute;
    padding: 8px;
}